In [1]:
import pandas as pd

In [24]:
df = pd.read_csv('data2020/survey_results_public.csv')
schema_df = pd.read_csv('data2020/survey_results_schema.csv')
#df

In [19]:
people = {"first" : ["first1", "first2", "first3"], "last" : ["last1", "last2", "last3"], "email" : ["email1", "email2", "email3"]}
df = pd.DataFrame(people)

In [6]:
df['last'] == 'last2'

0    False
1     True
2    False
Name: last, dtype: bool

In [7]:
filt = (df['last'] == 'last2')

In [8]:
df[filt]

    first   last   email
1  first2  last2  email2

In [9]:
df[df['last'] == 'last3']

    first   last   email
2  first3  last3  email3

In [10]:
df.loc[filt]

    first   last   email
1  first2  last2  email2

In [11]:
df.loc[filt, 'email']

1    email2
Name: email, dtype: object

In [12]:
filt = (df['last'] == 'last2') & (df['first'] == 'first2')

In [13]:
df.loc[filt, 'email']

1    email2
Name: email, dtype: object

In [20]:
filt = (df['last'] == 'last3') | (df['first'] == 'first1')

In [22]:
df.loc[filt, 'email']

0    email1
2    email3
Name: email, dtype: object

In [25]:
high_salary = (df['ConvertedComp'] > 70000)

In [26]:
df.loc[high_salary]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
15,16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23
16,17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
17,18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
18,19,I am a developer by profession,No,24.0,15,Yearly,83400.0,83400.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;React.js,Angular;Angular.js;ASP.NET Core,Just as welcome now as I felt last year,35.0,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64113,65586,I am a developer by profession,Yes,NaN,8,Yearly,225000.0,225000.0,United States,United States dollar,...,NaN,NaN,NaN,Mathematics or statistics,NaN,NaN,NaN,50.0,25,15
64116,65589,I am a developer by profession,Yes,NaN,16,Yearly,150000.0,150000.0,United States,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,45.0,10,6
64127,65602,"I am not primarily a developer, but I write co...",Yes,NaN,13,Yearly,140000.0,140000.0,United States,United States dollar,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,NaN,15,12
64129,65604,I am a developer by profession,No,NaN,13,Weekly,3000.0,150000.0,United States,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,45.0,7,4
64141,65617,I am a developer by profession,Yes,NaN,15,Yearly,120000.0,129718.0,Germany,European Euro,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,35.0,9,9

In [27]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
7,United States,Python;SQL,116000.0
15,United Kingdom,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,108576.0
16,United States,C#;HTML/CSS;JavaScript;Python;SQL;VBA,79000.0
17,United States,Bash/Shell/PowerShell;HTML/CSS;Perl,1260000.0
18,United States,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...,83400.0
...,...,...,...
64113,United States,NaN,225000.0
64116,United States,NaN,150000.0
64127,United States,NaN,140000.0
64129,United States,NaN,150000.0
64141,Germany,NaN,129718.0

In [28]:
countries = ['India', 'United States', 'Germany']

In [29]:
filt = df['Country'].isin(countries)

In [31]:
df.loc[filt, 'Country']

0              Germany
4        United States
5              Germany
6                India
7        United States
             ...
64439            India
64442            India
64443    United States
64452            India
64456    United States
Name: Country, Length: 24762, dtype: object

In [32]:
df['LanguageWorkedWith']

0                                   C#;HTML/CSS;JavaScript
1                                         JavaScript;Swift
2                                 Objective-C;Python;Swift
3                                                      NaN
4                                        HTML/CSS;Ruby;SQL
                               ...
64456                                                  NaN
64457    Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
64458                                                  NaN
64459                                             HTML/CSS
64460                      C#;HTML/CSS;Java;JavaScript;SQL
Name: LanguageWorkedWith, Length: 64461, dtype: object

In [33]:
filt = df['LanguageWorkedWith'].str.contains('Python',na = False)

In [34]:
df.loc[filt, 'LanguageWorkedWith']

2                                 Objective-C;Python;Swift
7                                               Python;SQL
9                      HTML/CSS;Java;JavaScript;Python;SQL
12                                     C;JavaScript;Python
14        Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL
                               ...
64433    Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...
64438       C++;HTML/CSS;JavaScript;Python;Ruby;TypeScript
64443              C++;HTML/CSS;Java;JavaScript;Python;SQL
64446    Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
64457    Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
Name: LanguageWorkedWith, Length: 25287, dtype: object

In [35]:
filt

0        False
1        False
2         True
3        False
4        False
         ...
64456    False
64457     True
64458    False
64459    False
64460    False
Name: LanguageWorkedWith, Length: 64461, dtype: bool

In [36]:
df.loc[filt]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
9,10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
12,13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20
14,15,I am a student who is learning to code,Yes,NaN,13,NaN,NaN,NaN,France,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64433,61561,NaN,Yes,64.0,18,NaN,NaN,NaN,France,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",Angular.js;jQuery;React.js;Vue.js,jQuery,A lot more welcome now than last year,NaN,30,NaN
64438,62391,NaN,Yes,NaN,Younger than 5 years,NaN,NaN,NaN,Morocco,NaN,...,Neither easy nor difficult,Too short,NaN,NaN,Angular.js;Express;React.js;Ruby on Rails,Angular.js;Express;React.js;Ruby on Rails,NaN,NaN,Less than 1 year,Less than 1 year
64443,63077,NaN,Yes,NaN,20,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,4,NaN
64446,63640,NaN,Yes,NaN,8,NaN,NaN,NaN,Australia,NaN,...,NaN,NaN,No,NaN,Angular;Angular.js;Express;jQuery;React.js;Vue.js,Express;jQuery,Somewhat more welcome now than last year,NaN,6,2
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN